/* FEATURES SECTION STARTS */
/* 1 ENJOY ON YOUR TV */
.peru_section-features .peru_section-container {
  border-top: 8px solid #222;
  background-color: black;
  display: flex;
  padding: 0px 0px;
  padding-bottom: 30px;
}

.peru_section-features .peru_left-column {
  padding-top: 13%;
  padding-right: 2%;
}

.peru_features-tittle {
  color: white;
  font-size: 3.33rem;
  font-weight: 600;
}

.peru_section-features .peru_section-container .peru_left-column h3 {
  color: white;
  font-size: 1.4rem;
  font-weight: normal;
  margin-top: 5%;
}

.peru_section-features .peru_right-column {
  overflow: hidden;
  position: relative;
  width: 50%;
  height: 500px;
}

.peru_section-features .peru_right-column img {
  position: absolute;
  width: 100%;
}

.peru_section-features .peru_right-column .peru_video-1 {
  margin-left: 13%;
  margin-top: 16%;
  width: 73%;
}

/*2 DOWNLOAD YOU SHOW TO WATCH OFFLINE*/
.peru_section-features .peru_section2-container {
  border-top: 8px solid #222;
  background-color: black;
  display: flex;
  padding: 0px 80px;
  padding-bottom: 90px;
}

.peru_section-features .peru_section2-container .peru_left-column img {
  width: 100%;
}

.peru_section-features .peru_section2-container .peru_left-column .peru_box {
  border: 2px solid rgba(255, 255, 255, 0peru_25);
  background-color: black;
  border-radius: 10px;
  width: 60%;
  padding: 10px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  margin-top: -22%;
}

.peru_section-features
  .peru_section2-container
  .peru_left-column
  .peru_box
  .peru_boxshot {
  width: 15%;
}

.peru_section-features .peru_section2-container .peru_left-column .peru_box p {
  margin-left: 5%;
  margin-top: 3%;
}

.peru_section-features
  .peru_section2-container
  .peru_left-column
  .peru_box
  p
  a {
  text-decoration: none;
}

.peru_section-features
  .peru_section2-container
  .peru_left-column
  .peru_box
  .peru_download-gif {
  width: 3em;
  height: 3em;
  position: absolute;
  right: 0;
}

.peru_section-features .peru_section2-container .peru_right-column {
  padding-top: 13%;
  padding-right: 2%;
  width: 50%;
}

.peru_section-features .peru_section2-container .peru_right-column h1 {
  color: white;
}

.peru_section-features .peru_section2-container .peru_right-column h3 {
  color: white;
  font-size: 1.4rem;
  font-weight: normal;
  margin-top: 5%;
}

/* 3 WATCH EVERY WHERE*/
.peru_section-features .peru_right-column {
  margin-left: 15%;
  margin-top: 21.4%;
  width: 70%;
  z-index: 2;
}
.peru_video-2 {
}
.peru_img-2 {
  z-index: 3;
}

/* 4 CREATE PROFILE FOR KIDS*/
.peru_section-features .peru_section2-container .peru_left-column img {
  width: 100%;
}

/* FEATURES SECTION ENDS */

/* MEDIA QUERIES */

@media (max-width: 943px) {
  /*ENJOY ON YOUR TV*/
  .peru_section-features .peru_section-container {
    display: block;
  }

  .peru_section-features .peru_left-column {
    width: 100%;
    text-align: center;
  }

  .peru_section-features .peru_section-container .peru_right-column {
    width: 100%;
  }

  /*DOWNLOAD YOU SHOW TO WATCH OFFLINE*/
  .peru_section-features .peru_section2-container {
    display: block;
  }

  .peru_section-features .peru_section2-container .peru_left-column {
    width: 100%;
  }

  .peru_section-features .peru_section2-container .peru_right-column {
    width: 100%;
    text-align: center;
  }

  .peru_features-tittle {
    color: white;
    font-size: 2peru_5rem;
    font-weight: 700;
  }
}

@media (max-width: 774px) {
  /* ENJOY ON YOUR TV */
  .peru_section-features {
    padding-bottom: 0px;
  }

  .peru_features-tittle {
    color: white;
    font-size: 2peru_5rem;
    font-weight: 700;
  }
}

@media (max-width: 500px) {
  /*ENJOY ON YOUR TV*/
  .peru_section-features .peru_right-column {
    height: 270px;
  }

  /* DOWNLOAD YOUR SHOW TO WATCH OFFLINE */
  .peru_section-features .peru_section2-container .peru_left-column .peru_box {
    width: 100%;
  }

  .peru_features-tittle {
    color: white;
    font-size: 2rem;
    font-weight: 700;
  }
}
